* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
  font-family: ‘Gill Sans’, ‘Gill Sans MT’, Calibri, ‘Trebuchet MS’, sans-serif;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
    color: rgb(105, 103, 103);
    
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.number-introduced-user {
    background-color: lightgray;
    border-radius: 8px;
    border: none;
    padding: 5px;
    margin: 10px 0 10px 0;
    

}
.btn {
    width: 35%;
    padding: 5px;
    background-color: rgb(87, 207, 171);
    border-radius: 8px;
    color: white;
    border: none;
 
}

.hints {
    width: 75vw;
    border: solid 1px grey;
    padding: 5px;
    margin-bottom: 7px;
   
}
.number-of-tries {
    width: 75vw;
    border: solid 1px gray;
    padding: 5px;
    
}